<mat-card>
  <mat-card-content>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <h2>{{title}}</h2>
      <mat-form-field class="full-width-input" appearance="fill">
        <input matInput placeholder="Name" formControlName="Name">
        <mat-error *ngIf="productForm.get('Name').hasError('required')">Product name is required</mat-error>
        <mat-error *ngIf="productForm.get('Name').hasError('minlength')">A minimum of 3 characters are required
        </mat-error>
        <mat-error *ngIf="productForm.get('Name').hasError('maxlength')">A maximum of 100 characters is allowed
        </mat-error>
        <mat-error *ngIf="productForm.get('Name').hasError('maxlength')">A maximum of 100 characters is allowed
        </mat-error>
        <mat-error *ngIf="productForm.get('Name').hasError('maxlength')">A maximum of 100 characters is allowed
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input" appearance="fill">
        <input matInput placeholder="Description" formControlName="Description">
        <mat-error *ngIf="productForm.get('Description').hasError('required')">Product description is required
        </mat-error>
        <mat-error *ngIf="productForm.get('Description').hasError('minlength')">A minimum of 5 characters are required
        </mat-error>
        <mat-error *ngIf="productForm.get('Description').hasError('maxlength')">A maximum of 1000 characters is allowed
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input" appearance="fill">
        <input matInput type="number" placeholder="Price" formControlName="Price" twoDecimals>
        <mat-error *ngIf="productForm.get('Price').hasError('required')">Product price is required</mat-error>
        <mat-error *ngIf="productForm.get('Price').hasError('min')">Price cannot be lower than 1 USD</mat-error>
        <mat-error *ngIf="productForm.get('Price').hasError('max')">Price cannot be higher than 20,000 USD</mat-error>
      </mat-form-field>
      <button mat-raised-button class="return-button" (click)="goToProductList()">Return</button>
      <button mat-raised-button color="primary">Submit</button>
    </form>
  </mat-card-content>
</mat-card>